.wrapper {
  align-items:center;
  justify-content: center;
  background: hsla(0,0%,100%,.2);
  border-radius: 10px ;
  width: 1080px;
  color: #fff;
  padding: 20px 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 15px;
  column-gap: 15px;
  font-size: 22px;
  height: 170px;

  .cell {
    height: 60px;
    background: hsla(0,0%,100%,.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1009px) {
  .wrapper {
  height: 250px;
  }
}
@media (max-width: 750px) {
  .wrapper {
    height: auto;
  }
}